<%= render 'header' %>

<main role="main" class="container">
  <div class="my-3 p-3 bg-light rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= @table_title %></h6>
    <% @profiles.each do |profile| %>
      <div class='profile'>
        <div class="media text-muted pt-3 row_content" style="position: relative;">
          <% if img = profile.user_profile_image %>
            <a href='/?user_name=<%= profile.user_screen_name %>'>
              <img alt="icon" class="mr-2 rounded icon-image" style="width: 55px; height: 55px;" data-holder-rendered="true" src="data:image/png;base64,<%= Base64.strict_encode64(img) %>" />
            </a>
          <% end %>
          <% if (banner = profile.user_profile_banner) && banner.empty?.! %>
            <div class="banner">
              <img alt="icon" class="mr-2 rounded banner-image" style="width: 100px; height: 33px;" data-holder-rendered="true" src="data:image/png;base64,<%= Base64.strict_encode64(banner) %>" />
            </div>
          <% end %>
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
            <strong class="user-name d-block text-gray-dark"><a href='/?user_name=<%= profile.user_screen_name %>'><%= profile.user_name %></a></strong>
            <span class="d-block">
              <a href="https://twitter.com/<%= profile.user_screen_name %>">@<%= profile.user_screen_name %></a>&nbsp;<i class="fas fa-external-link-alt"></i>
            </span>
            <%= profile.user_description.to_s %>

            <br>

            <% unless (l = profile.user_location).blank? %>
              <i class="fas fa-map-marker-alt"></i>
              <% if l.match?(/http/) %>
                <a href="<%= l %>"><%= l.sub(%r{^https?:\/\/}, '') %>&nbsp;</a>
              <% else %>
                <%= l %>&nbsp;
              <% end %>
            <% end %>

            <% unless (l = profile.user_url).blank? %>
              <i class="fas fa-paperclip"></i>
              <% if l.match?(/http/) %>
                <a href="<%= l %>"><%= l.sub(%r{^https?:\/\/}, '') %>&nbsp;</a>
              <% else %>
                <%= l %>&nbsp;
              <% end %>
            <% end %>
          </p>
          <span class='created_at'><%= profile.created_at.strftime('%Y-%-m-%-d %H:%M') %></span>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to_prev_page @profiles, '前へ' %>
  <%= link_to_next_page @profiles, '次へ' %>
</main>

<%= render 'footer' %>
