<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'Biotter' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="twitter:card" content="summary"/>
    <% if @title %>
      <meta property="og:url" content="https://biotter.herokuapp.com/?user_name=<% @profiles.first.user_screen_name %>" />
      <meta property="og:description" content="<% @table_title %>" />
    <% else %>
      <meta property="og:url" content="https://biotter.herokuapp.com" />
      <meta property="og:description" content="ツイッターのプロフィール履歴を残せます" />
    <% end %>
    <meta property="og:image" content="https://biotter.herokuapp.com" />
    <meta property="og:title" content="Biotter"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
