<!DOCTYPE html>
<html>
  <head>
    <title>BiotterRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="twitter:card" content="summary"/>
    <meta property="og:url" content="http://biotter.tetetratra.net"/>
    <meta property="og:title" content="Biotter"/>
    <meta property="og:description" content="プロフィール履歴を残せます"/>
    <meta property="og:image" content="http://biotter.tetetratra.net/biotter.png"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
